#`pip install -r requirements_fixed.txt`
numpy==1.18.5
scipy==1.4.1 
scikit-image==0.15 
opencv-python==4.1.1.26 
scikit-image==0.15 
PyYAML==5.1.1         
face-alignment
yacs==0.1.8
kornia==0.4.0
ninja
packaging
scipy
facenet-pytorch
fvcore
